.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform,scale(1.2));

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(/src/icons/icon-phone-call-2x.png);
    background-repeat: no-repeat;
    }

  &--menu {
    background-image: url(/src/icons/icon-burger-menu-2x.png);
    background-repeat: no-repeat;

    &:hover {
      background-image: url(/src/icons/icon-burger-menu-hover-2x.png);
    }
  }

  &--close {
    background-image: url(/src/icons/icon-close-2x.png);
    background-repeat: no-repeat;
  }

}

  .hidden__element__position {
    position: relative;
  }

  .hidden__element {
    align-items: center;
    right: 50px;
    top:10px;
    position: absolute;
    visibility: hidden;
  }

  .hidden__element--style {
    text-decoration: none;
    color: $main-text-color;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;
    white-space: nowrap;
    }

  .hidden__element:hover {
    visibility: visible;
    z-index: 1;
  }

  .top-bar__icons a:nth-child(1):hover~.hidden__element {
    visibility: visible;
    z-index: 1;
  }
